/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1.1em;
    line-height: 1.4;
}


.label{
    display: block;
}

input[readonly],
textarea[readonly]{
    background-color: #ddd;
    border-color: transparent;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body, .wrapper { height: 100%; }
body > .wrapper { height: auto; min-height: 100%; }

.main{
    width: 95%;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 85px;
}

body{
background: #E5E5E5;
font-family:'verdana';
color: #333333;
min-width: 920px;
}



h1,h2,h3,h4,p{
    padding: 5px;
}

h1{
    font-size: 2em;

}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1.2em;
    font-weight: bold;
}

p a{
    color: #009247;
}

p a:hover{
    color: #7f7f7f;
}

em{
    font-style: italic;
}

strong{
    font-weight: bold;
}

header{
    height:140px;
    box-shadow: 0px 2px 3px #7f7f7f;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.logo{
    float: left;
    }

nav{

}

nav li{
    float: right;
    width: 12%;
    font-size: 1.4em;
    line-height: 140px;
    text-align: center;
    border-right: 1px solid #cccccc;
}

nav ul a{
        display: block;
        color: #7f7f7f;
            background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
     -o-transition:.50s;
  -ms-transition:.50s;
  -moz-transition:.50s;
  -webkit-transition:.50s;
  transition:.50s;
}

nav a:hover{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #c7cacc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#c7cacc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#c7cacc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#c7cacc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#c7cacc 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#c7cacc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7cacc',GradientType=0 ); /* IE6-9 */
color: #009247;
}


.active{
    color: #009247;

}

.border-left{
    border-left: 1px solid #cccccc;
}

.blog{
     margin: auto;
     width: 90%;
     padding:20px;
     padding-bottom: 120px;
}

.content{
    float: left;
    padding-left: 2.5%;
    padding-top: 15px;
    max-width: 54%;
    margin-left: auto;

}

.side-form{
    border: 1px solid #7f7f7f;
    border-radius: 5px;
    width:270px;
    margin:15px;
    float: left;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 3px #7f7f7f;
}

.submit{
    width: 120px;
    margin-top: 35px;
}

input{
    height: 25px;
    font-size: 1em;
    width: 240px;
}

textarea{
    width: 240px;
    height: 60px;
}








footer{
height:85px;
background: #a0a0a0; /* Old browsers */
background: -moz-linear-gradient(top,  #a0a0a0 0%, #7f7f7f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a0a0), color-stop(100%,#7f7f7f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a0a0a0 0%,#7f7f7f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a0a0a0 0%,#7f7f7f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a0a0a0 0%,#7f7f7f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a0a0a0 0%,#7f7f7f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0a0a0', endColorstr='#7f7f7f',GradientType=0 ); /* IE6-9 */
er: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#7f7f7f',GradientType=0 ); /* IE6-9 */
    clear: both;
    position: relative;
    margin-top: -85px;
    width: 100%;
    box-shadow: 0px -2px 3px #444;
}

.icon{  
    float: right;
    margin: 15px 15px 0px 15px;
}

 .copyright{
    display: inline-block;
    margin: 15px;
    font-size: .8em;
 }

 .copyright a{
    color: #333333;
    font-weight: bold;
         -o-transition:.50s;
  -ms-transition:.50s;
  -moz-transition:.50s;
  -webkit-transition:.50s;
  transition:.50s;
 }

  .copyright a:hover{
    color: #009247;
 }






/*-------Blog css---------------*/
table{
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 8px;
    color: #595151;
    margin-top: 15px;
    margin-bottom: 15px;

}


tr, td{
    margin: auto;
    padding: 8px;
    width: 30%;
}

th{
    font-weight: bold;
    color: #168C49;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


